devsynapsecrm/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Nombre del área de trabajo",
			"defaultValue": "devsynapsecrm"
		},
		"File_Location_password": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"password\"de \"File_Location\""
		},
		"LS_ADLS_DataLake_accountKey": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"accountKey\"de \"LS_ADLS_DataLake\""
		},
		"devsynapsecrm-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"devsynapsecrm-WorkspaceDefaultSqlServer\"",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:devsynapsecrm.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"File_Location_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "C:\\Users\\Administrador\\Documents\\Proyecto End to End CRM Sales"
		},
		"File_Location_properties_typeProperties_userId": {
			"type": "string",
			"defaultValue": "Administrador"
		},
		"LS_ADLS_DataLake_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adsldevcrm.dfs.core.windows.net/"
		},
		"devsynapsecrm-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adsldevcrm.dfs.core.windows.net"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/Pipeline_CRM')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "GET_FILE_LIST",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DS_OnPrem_Folder",
								"type": "DatasetReference",
								"parameters": {
									"pFolder": {
										"value": "@pipeline().parameters.sourceFolder",
										"type": "Expression"
									}
								}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "FileServerReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "BinaryReadSettings"
							}
						}
					},
					{
						"name": "FOREACH_FILE",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "GET_FILE_LIST",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('GET_FILE_LIST').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@endsWith(item().name,'.csv')",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "COPY_TO_ADLS",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "FileServerReadSettings",
															"recursive": true
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_OnPrem_Files",
														"type": "DatasetReference",
														"parameters": {
															"pFolder": {
																"value": "@pipeline().parameters.sourceFolder",
																"type": "Expression"
															},
															"pFileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_ADLS_Landing_Files",
														"type": "DatasetReference",
														"parameters": {
															"pFolder": "data",
															"pFileName": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Correcto",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "FOREACH_FILE",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-28.northcentralus.logic.azure.com:443/workflows/89d002074b294a3abce30c5a010d983b/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=2bUVVpbVVR1a15hPkiF7Gb5FMDpoa69o33knnj51T6k",
							"body": {
								"value": "{\n    \"NombrePipeline\" : \"@{pipeline().Pipeline}\",\n    \"status\" : \"Correcto\",\n    \"runID\"  : \"@{pipeline().RunId}\",\n    \"time\"   : \"@{utcNow()}\"\n}",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Error",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "FOREACH_FILE",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": "https://prod-28.northcentralus.logic.azure.com:443/workflows/89d002074b294a3abce30c5a010d983b/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=2bUVVpbVVR1a15hPkiF7Gb5FMDpoa69o33knnj51T6k",
							"body": {
								"value": "{\n    \"pipelineName\" : \"@{pipeline().Pipeline}\",\n    \"status\" : \"Error\",\n    \"runId\"  : \"@{pipeline().RunId}\",\n    \"time\"   : \"@{utcNow()}\"\n}",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"sourceFolder": {
						"type": "string"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/DS_OnPrem_Folder')]",
				"[concat(variables('workspaceId'), '/datasets/DS_OnPrem_Files')]",
				"[concat(variables('workspaceId'), '/datasets/DS_ADLS_Landing_Files')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DS_ADLS_Landing_Files')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_DataLake",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pFolder": {
						"type": "string"
					},
					"pFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().pFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().pFolder",
							"type": "Expression"
						},
						"fileSystem": "raw"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/LS_ADLS_DataLake')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DS_OnPrem_Files')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "File_Location",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pFolder": {
						"type": "string"
					},
					"pFileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"fileName": {
							"value": "@dataset().pFileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().pFolder",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/File_Location')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DS_OnPrem_Folder')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "File_Location",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"pFolder": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "FileServerLocation",
						"folderPath": {
							"value": "@dataset().pFolder",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/File_Location')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/File_Location')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "FileServer",
				"typeProperties": {
					"host": "[parameters('File_Location_properties_typeProperties_host')]",
					"userId": "[parameters('File_Location_properties_typeProperties_userId')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('File_Location_password')]"
					}
				},
				"connectVia": {
					"referenceName": "onPremAzureRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/onPremAzureRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/LS_ADLS_DataLake')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_DataLake_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_DataLake_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/devsynapsecrm-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('devsynapsecrm-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/devsynapsecrm-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('devsynapsecrm-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/onPremAzureRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Synapse_Script')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "/* =========================================================\n   1) CREAR BASE DE DATOS PARA OBJETOS SERVERLESS\n   ========================================================= */\n\nCREATE DATABASE crm_serverless_db;\nGO\n\n/* =========================================================\n   2) USAR LA BASE DE DATOS\n   ========================================================= */\n\nUSE crm_serverless_db;\nGO\n\n/* =========================================================\n   3) VISTA: DETALLE DE OPORTUNIDADES\n   Lee Delta generado por Databricks\n   ========================================================= */\n\nCREATE OR ALTER VIEW dbo.vw_sales_detail\nAS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://adsldevcrm.dfs.core.windows.net/raw/gold/sales_detail',\n    FORMAT = 'DELTA'\n) AS rows;\nGO\n\n/* =========================================================\n   4) VISTA: KPI POR ETAPA\n   ========================================================= */\n\nCREATE OR ALTER VIEW dbo.vw_kpi_by_stage\nAS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://adsldevcrm.dfs.core.windows.net/raw/gold/kpi_by_stage',\n    FORMAT = 'DELTA'\n) AS rows;\nGO\n\n\n/* =========================================================\n   5) VISTA: VENTAS POR AGENTE\n   ========================================================= */\n\nCREATE OR ALTER VIEW dbo.vw_sales_by_agent\nAS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://adsldevcrm.dfs.core.windows.net/raw/gold/sales_by_agent',\n    FORMAT = 'DELTA'\n) AS rows;\nGO\n\n\n/* =========================================================\n   6) VISTA: VENTAS POR PRODUCTO\n   ========================================================= */\n\nCREATE OR ALTER VIEW dbo.vw_sales_by_product\nAS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://adsldevcrm.dfs.core.windows.net/raw/gold/sales_by_product',\n    FORMAT = 'DELTA'\n) AS rows;\nGO\n\n\n/* =========================================================\n   7) VISTA: VENTAS POR SECTOR\n   ========================================================= */\n\nCREATE OR ALTER VIEW dbo.vw_sales_by_sector\nAS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://adsldevcrm.dfs.core.windows.net/raw/gold/sales_by_sector',\n    FORMAT = 'DELTA'\n) AS rows;\nGO\n\n/* =========================================================\n   8) VISTA: TENDENCIA MENSUAL DE CIERRES GANADOS\n   ========================================================= */\n\nCREATE OR ALTER VIEW dbo.vw_monthly_won_trend\nAS\nSELECT *\nFROM OPENROWSET(\n    BULK 'https://adsldevcrm.dfs.core.windows.net/raw/gold/monthly_won_trend',\n    FORMAT = 'DELTA'\n) AS rows;\nGO\n\n\n/* =========================================================\n   9) PRUEBAS RÁPIDAS\n   ========================================================= */\n\nSELECT TOP 100 * FROM dbo.vw_sales_detail;\nGO\n\nSELECT TOP 100 * FROM dbo.vw_kpi_by_stage;\nGO\n\nSELECT TOP 100 * FROM dbo.vw_sales_by_agent;\nGO\n\nSELECT TOP 100 * FROM dbo.vw_sales_by_product;\nGO\n\nSELECT TOP 100 * FROM dbo.vw_sales_by_sector;\nGO\n\nSELECT TOP 100 * FROM dbo.vw_monthly_won_trend;\nGO\n\n\nSELECT *\nFROM dbo.vw_kpi_by_stage\nORDER BY total_close_value DESC;\nGO\n\n\n\nSELECT *\nFROM dbo.vw_sales_by_agent\nORDER BY won_value DESC;\nGO\n\n\nSELECT *\nFROM dbo.vw_sales_by_sector\nORDER BY won_value DESC;\nGO\n\n\nSELECT *\nFROM dbo.vw_monthly_won_trend\nORDER BY close_year, close_month;\nGO\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "crm_serverless_db",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		}
	]
}